.container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  flex-direction: column;
  margin-top: 10%;
  margin-bottom: 3%;
  overflow: hidden;
}
.body-style {
  width: 90%;
  display: grid;
  grid-template-columns:  1fr 1fr;
  color: #fff;
  overflow: hidden;
  grid-gap: 4%;
  object-fit: scale-down;
}
.sub-content {
  margin-top: 3%;
  background: #21482c;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2em;
  font-size: 120%;
  object-fit: scale-down;
}
.review-img {
  width: 100%;
}
.opening-time {
  font-weight: 700;
  background: #fff;
  color: #21482c;
  margin: 4%;
  padding: 4%;
  border: 1px solid #21482c;
  border-radius: 1.5rem;
  font-size: 100%;
}

@media (max-width: 768px) {
    .sub-content {
      margin-top: 3%;
      background: #21482c;
      padding: 10%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 2em;
      font-size: 80% !important;
    }
  }

@media (max-width: 430px) {
  .sub-content {
    margin-top: 3%;
    background: #21482c;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    font-size: 60% !important;
  }
}

.h3-style {
  color: #21482c;
  margin-bottom: 0;
  margin-top: 15%;
}
